*{padding: 0; margin: 0;}
a{color: #333; text-decoration: none;}
ul{list-style: none;}
body{
    font-family: 'noto sans kr';
    color: #333;
    font-size: 15px;
    line-height: 25px;
    min-width: 1320px;
}

/* base */

/* box */
.outbox1{width: 100%;overflow: hidden;margin: auto;position: relative;}
/* box */

/* header */
.header{
    width: 1320px;
    height: 240px;
    padding-top: 40px;
    margin: auto;
    position: relative;
}
.header li{float: left;}
.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.log{
    float: right;
}
.log li{margin-left: 15px;}
.nav{
    font-size: 20px;
    margin-top: 170px;
    margin-left: 105px;
}
.nav li a{
    width: 222px;
    display: block;
    text-align: center;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background: url(../images/nav_1.png) no-repeat 45px ;
    transition: 0.5s all;
    color: #a965a9;
}
.nav li a:hover{color: #333;}
.nav li:nth-child(2) a{background: url(../images/nav_2.png) no-repeat 25px;}
.nav li:nth-child(3) a{background: url(../images/nav_3.png) no-repeat 30px;}
.nav li:nth-child(4) a{background: url(../images/nav_4.png) no-repeat 30px;}
.nav li:nth-child(5) a{background: url(../images/nav_5.png) no-repeat 35px;}
.nav li:nth-child(1) a:hover{background: url(../images/nav-1.png) no-repeat 45px;}
.nav li:nth-child(2) a:hover{background: url(../images/nav-2.png) no-repeat 25px;}
.nav li:nth-child(3) a:hover{background: url(../images/nav-3.png) no-repeat 30px;}
.nav li:nth-child(4) a:hover{background: url(../images/nav-4.png) no-repeat 30px;}
.nav li:nth-child(5) a:hover{background: url(../images/nav-5.png) no-repeat 35px;}
/* header */

/* banner */
.banner{
    width: 100%;
    height: 450px;
    background: url(../images/sub2_banner.png) no-repeat center;
    position: relative;
    margin: auto;
}
.banner h1{
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner img:nth-child(1){
    position: absolute;
    left: 130px;
    top: 180px;
    animation: star 3s ease infinite;
}
.banner img:nth-child(2){
    position: absolute;
    right: 170px;
    bottom: 100px;
    animation: star2 3s infinite ease reverse;
}
.banner_inner{width:1000px;height: 100%;position: relative;margin: auto;}
@keyframes star{
    0%{transform: rotate(0deg) translate(0,10px);}
    50%{transform: rotate(20deg) translate(0,0);}
    100%{transform: rotate(0deg) translate(0,10px);}
}
@keyframes star2{
    0%{transform: rotate(-20deg) translate(0,-10px);}
    50%{transform: rotate(0deg) translate(0,0px);}
    100%{transform: rotate(-20deg) translate(0,-10px);}
}
/* banner */

/* icon */

/* icon */
.icon{position: relative;}
.icon h2{
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 150px;
}
.icon> img{
    display: block;
    width: 200px;
    margin: auto;
}
.icon ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%,40px);
    z-index: 3;
}
.icon ul:nth-child(3){transform: translate(-50%,40px);z-index: 1;}
.icon ul:nth-child(3) li{transition: 0.5s all;}
.icon ul:nth-child(3) li:hover{transform: translate(0,10px);}
.icon ul:nth-child(4){transform: translate(-50%,50px);z-index: 0;}
.icon ul li{
    float: left;
    margin-left: 40px;
}
.icon ul li:nth-child(1){
    margin-left: 0;
}
/* box1~4 */
.left_txt{
    position: absolute;
    font-size: 30px;
    line-height: 40px;
    bottom: 200px;
    left: 220px;
    z-index: 6;
    color: #333;
}
.right_txt{
    position: absolute;
    font-size: 30px;
    line-height: 40px;
    bottom: 200px;
    right: 340px;
    z-index: 6;
    color: #333;
}
.right_txt2{
    position: absolute;
    font-size: 30px;
    line-height: 40px;
    bottom: 200px;
    right: 320px;
    z-index: 6;
    color: #333;
}
.left_bar{
    width: 5px;
    height: 60px;
    background-color: #6667ab;
    position: absolute;
    z-index: 6;
    bottom: 190px;
    left: 400px;
}
.right_bar{
    width: 5px;
    height: 60px;
    background-color: #6667ab;
    position: absolute;
    z-index: 6;
    bottom: 190px;
    right: 510px;
}
.box_icon{
    width: 200px;
    height: 100px;
    background-color: rgba(90, 64, 137, 0.8);
    position: absolute;
    bottom: -100px;
    z-index: 6;
    transition: 1s all;
}
.box1_book:hover .box_icon{bottom: 0;}
.box_icon a{position: absolute; bottom: 20px; left: 33px;}
.box_icon a:nth-child(2){left: 116px;}
.box_icon_hover1{background: url(../images/sub2_box_icon4.png);}
.box_icon_hover2{background: url(../images/sub2_box_icon3.png);}
.box{
    height: 855px;
    width: 1320px;
    margin: auto;
    position: relative;
    transform: translate(-191px,0);
}
#first{margin-left: 0;}
.box1_book{position: absolute; z-index: 5;}
.box_inner1{
    width: 760px;
    height: 340px;
    margin: auto;
    position: absolute;
    bottom: 35px;
    left: 450px;
}
.box> img{
    position: absolute;
    bottom: 0;
    left: -100px;
    z-index: 1;
}
.box_inner1 .box1_book:nth-child(1){
    float: left;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}
.box_inner1 p{
    background-color: #fff;
    padding: 5px 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 17.5px;
    z-index: 3;
    transition: 0.5s all;
}
.box_inner1 p:hover{transform: translate(8px,8px);}
.button_bg{
    width: 84.5px;
    height: 35px;
    border-radius: 17.5px;
    bottom: -8px;
    right: -8px;
    background-color: #a965a9;
    position: absolute;
    z-index: 2;
}
.icon1{
    width: 1000px;
    position: absolute;
    top: -200px;
    left: -30%;
    z-index: 0;
}
.icon1 li{
    float: left;
    margin-left: 30px;
}
@keyframes box1{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}@keyframes box2{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}
.icon1 li:nth-child(1){animation: box1 3s ease infinite;animation-delay:0.5s;}
.icon1 li:nth-child(2){animation: box2 3s ease infinite;}
.icon1 li:nth-child(3){animation: box1 3s ease infinite;animation-delay:1s;}
.icon1 li:nth-child(4){animation: box2 3s ease infinite;animation-delay:1.5s;}
.icon1 li:nth-child(5){animation: box1 3s ease infinite;}


.box2{
    height: 775px;
    width: 1320px;
    margin: auto;
    position: relative;
    transform: translate(300px,0);
}
#first{margin-left: 0;}
.box1_book{position: absolute; z-index: 5;}
.box_inner2{
    width: 760px;
    height: 340px;
    margin: auto;
    position: absolute;
    right: 560px;
    bottom: 35px;
}
.box2> img{
    position: absolute;
    bottom: 0;
    right : 0;
    z-index: 1;
}
.box_inner2 .box1_book:nth-child(1){
    float: left;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}
.box_inner2 p{
    background-color: #fff;
    padding: 5px 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 17.5px;
    z-index: 3;
    transition: 0.5s all;
}
.box_inner2 p:hover{transform: translate(8px,8px);}
.button_bg2{
    width: 84.5px;
    height: 35px;
    border-radius: 17.5px;
    bottom: -8px;
    right: -8px;
    background-color: #6667ab;
    position: absolute;
    z-index: 2;
}
.icon2{
    width: 1000px;
    position: absolute;
    top: -250px;
    left: -30%;
    z-index: 0;
}
.icon2 li{
    float: left;
    margin-left: 30px;
}
.icon2 li:nth-child(1){margin-top: 100px;}
.icon2 li:nth-child(3){margin-top: -50px;margin-left: 60px;}
.icon2 li:nth-child(4){margin-top: 20px;}
.icon2 li:nth-child(1){animation: box1 3s ease infinite;animation-delay:0.5s;}
.icon2 li:nth-child(2){animation: box2 3s ease infinite;}
.icon2 li:nth-child(3){animation: box1 3s ease infinite;animation-delay:1s;}
.icon2 li:nth-child(4){animation: box2 3s ease infinite;animation-delay:1.5s;}

.box3{
    height: 775px;
    width: 1320px;
    margin: auto;
    position: relative;
    transform: translate(-191px,0);
}
#first{margin-left: 0;}
.box_inner3{
    width: 760px;
    height: 340px;
    margin: auto;
    position: absolute;
    left: 450px;
    bottom: 35px;
}
.box3> img{
    position: absolute;
    bottom: 0;
    left: -100px;
    z-index: 1;
}
.box_inner3 .box1_book:nth-child(1){
    float: left;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}
.box_inner3 p{
    background-color: #fff;
    padding: 5px 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 17.5px;
    z-index: 3;
    transition: 0.5s all;
}
.box_inner3 p:hover{transform: translate(8px,8px);}
.icon3{
    width: 1000px;
    position: absolute;
    top: -250px;
    left: -30%;
    z-index: 0;
}
.icon3 li{
    float: left;
    margin-left: 30px;
}
.icon3 li:nth-child(1){margin-top: -160px;}
.icon3 li:nth-child(3){margin-top: -50px;margin-left: 60px;}
.icon3 li:nth-child(2){margin-top: -60px;}
.icon3 li:nth-child(1){animation: box1 3s ease infinite;animation-delay:0.5s;}
.icon3 li:nth-child(2){animation: box2 3s ease infinite;}
.icon3 li:nth-child(3){animation: box1 3s ease infinite;animation-delay:1s;}


.box4{
    height: 775px;
    width: 1320px;
    margin: auto;
    position: relative;
    transform: translate(300px,0);
}
.box1_book{position: absolute; z-index: 5;}
.box_inner4{
    width: 760px;
    height: 340px;
    margin: auto;
    position: absolute;
    right: 560px;
    bottom: 35px;
}
.box4> img{
    position: absolute;
    bottom: 0;
    right : 0;
    z-index: 1;
}
.box_inner4 .box1_book:nth-child(1){
    float: left;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}
.box_inner4 p{
    background-color: #fff;
    padding: 5px 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 17.5px;
    z-index: 3;
    transition: 0.5s all;
}
.box_inner4 p:hover{transform: translate(8px,8px);}
.button_bg2{
    width: 84.5px;
    height: 35px;
    border-radius: 17.5px;
    bottom: -8px;
    right: -8px;
    background-color: #6667ab;
    position: absolute;
    z-index: 2;
}
.icon4{
    width: 1000px;
    position: absolute;
    top: -250px;
    left: -30%;
    z-index: 0;
}
.icon4 li{
    float: left;
    margin-left: 30px;
}
.icon4 li:nth-child(1){margin-top: -70px; margin-left: 60px;}
.icon4 li:nth-child(3){margin-top: -500px;margin-left: 660px;}
.icon4 li:nth-child(2){margin-top: -20px; margin-left: 30px;}
.icon4 li:nth-child(1){animation: box1 3s ease infinite;animation-delay:0.5s;}
.icon4 li:nth-child(2){animation: box2 3s ease infinite;}
.icon4 li:nth-child(3){animation: box1 3s ease infinite;animation-delay:1s;}


.top{position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px;z-index: 6;}
.top2{position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px;z-index: 7;
display: none;}
/* footer */
.footer{
    background-color: #888;
    width: 100%;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 4350px;
}
.footer_inner{
    width: 1320px;
    margin: auto;
    position: relative;
}
.footer_inner ul:nth-child(1) li a{
    float: left;
    font-weight: bold;
    margin-right: 30px;
    color: white;
}
.footer_inner ul:nth-child(2){
    position: absolute;
    right: 0px;
}
.footer_inner ul:nth-child(2) li{
    margin-left: 35px;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background: #fff;
    transition: 1s all;
}
.footer_inner ul:nth-child(2) li:hover{
    background: #aaa;
}
.footer_inner ul:nth-child(3){
    float: left;
    clear: both;
    color: #fff;
}
.footer_inner> img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0%);
}
.footer_inner ul li a:hover{color: #ddd;}
/* footer */