*{padding: 0; margin: 0;}
a{color: #333; text-decoration: none;}
ul{list-style: none;}
body{
    font-family: 'noto sans kr';
    color: #333;
    font-size: 15px;
    line-height: 25px;
    min-width: 1360px;
}

/* base */

/* box */
/* box */

/* header */
.header{
    width: 1320px;
    height: 240px;
    padding-top: 40px;
    margin: auto;
    position: relative;
}
.header li{float: left;}
.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.log{
    float: right;
}
.log li{margin-left: 15px;}
.nav{
    font-size: 20px;
    margin-top: 170px;
    margin-left: 105px;
}
.nav li a{
    width: 222px;
    display: block;
    text-align: center;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background: url(../images/nav_1.png) no-repeat 45px ;
    transition: 0.5s all;
    color: #a965a9;
}
.nav li a:hover{color: #333;}
.nav li:nth-child(2) a{background: url(../images/nav_2.png) no-repeat 25px;}
.nav li:nth-child(3) a{background: url(../images/nav_3.png) no-repeat 30px;}
.nav li:nth-child(4) a{background: url(../images/nav_4.png) no-repeat 30px;}
.nav li:nth-child(5) a{background: url(../images/nav_5.png) no-repeat 35px;}
.nav li:nth-child(1) a:hover{background: url(../images/nav-1.png) no-repeat 45px;}
.nav li:nth-child(2) a:hover{background: url(../images/nav-2.png) no-repeat 25px;}
.nav li:nth-child(3) a:hover{background: url(../images/nav-3.png) no-repeat 30px;}
.nav li:nth-child(4) a:hover{background: url(../images/nav-4.png) no-repeat 30px;}
.nav li:nth-child(5) a:hover{background: url(../images/nav-5.png) no-repeat 35px;}
/* header */

/* footer */
.footer{
    background-color: #888;
    height: 200px;
    margin-top: 0px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
}
.footer_inner{
    width: 1320px;
    margin: auto;
}
.footer_inner ul:nth-child(1) li a{
    float: left;
    font-weight: bold;
    margin-right: 30px;
    color: white;
}
.footer_inner ul:nth-child(2){
    position: absolute;
    right: 300px;
}
.footer_inner ul:nth-child(2) li{
    margin-left: 35px;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background: #fff;
    transition: 1s all;
}
.footer_inner ul:nth-child(2) li:hover{
    background: #aaa;
}
.footer_inner ul:nth-child(3){
    float: left;
    clear: both;
    color: #fff;
}
.footer_inner> img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* footer */

/* banner */
.banner{
    width: 100%;
    height: 450px;
    background: url(../images/sub3_banner.png) no-repeat center;
    position: relative;
    margin: auto;
}
.banner h1{
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner img:nth-child(1){
    position: absolute;
    left: 130px;
    top: 180px;
    animation: star 3s ease infinite;
}
.banner img:nth-child(2){
    position: absolute;
    right: 170px;
    bottom: 100px;
    animation: star2 3s infinite ease reverse;
}
.banner_inner{width:1000px;height: 100%;position: relative;margin: auto;}
@keyframes star{
    0%{transform: rotate(0deg) translate(0,10px);}
    50%{transform: rotate(20deg) translate(0,0);}
    100%{transform: rotate(0deg) translate(0,10px);}
}
@keyframes star2{
    0%{transform: rotate(-20deg) translate(0,-10px);}
    50%{transform: rotate(0deg) translate(0,0px);}
    100%{transform: rotate(-20deg) translate(0,-10px);}
}
/* banner */


/* main */
.bubble{
    position: absolute;
    top:0;
    left:50%;
    width: 1400px;
    height: 100%;
    z-index:0;
    overflow:hidden;
    transform: translate(-50%,0);
}
span{
    display: block;
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: #6667ab;
    border-radius: 50%;
    animation: bubble 15s ease-in-out infinite;
}
.bubble span:nth-child(1){
    width:80px;
    height: 80px;
    left:0%;
    animation-duration: 15s;
}
.bubble span:nth-child(2){
    width:40px;
    height: 40px;
    left:10%;
    animation-duration: 15s;
    animation-delay:1s;
}
.bubble span:nth-child(3){
    width:100px;
    height: 100px;
    left:20%;
    animation-duration: 17s;
    animation-delay:2s;
}
.bubble span:nth-child(4){
    width:140px;
    height: 140px;
    left:40%;
    animation-duration: 14s;
    animation-delay:0s;
}
.bubble span:nth-child(5){
    width:70px;
    height: 70px;
    left:50%;
    animation-duration: 13s;
    animation-delay:1s;
}
.bubble span:nth-child(6){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:3s;
}
.bubble span:nth-child(7){
    width:50px;
    height: 50px;
    left:70%;
    animation-duration: 14s;
    animation-delay:2s;
}
.bubble span:nth-child(8){
    width:80px;
    height: 80px;
    left:80%;
    animation-duration: 13s;
    animation-delay:1s;
}
    
@keyframes bubble{
    0%{
        top:-100px;
        transform: translateX(0);
    }
    35%{
        transform: translateX(100px);
    }
    70%{
        transform: translateX(200px); 
    }
    100%{
        top:110%;
        transform: translateX(0);
    }
}
.top{position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px;z-index: 6;}
.top2{position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px;z-index: 7;
display: none;}

.main{
    width: 100%;
    height: 2100px;
    background: url(../images/sub3_bg.png) no-repeat center;
    position: relative;
    opacity: 1;
}
.main img{border-radius: 150px;}
.main a{
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #5a4089;
    border-radius: 17.5px;
    transition: 1s all;
    border: 1px #5a4089 solid;
}
.main a:hover{
    background-color: #5a4089;
    color: #fff;
    border: 1px #5a4089 solid;
}
/* box */
.box1{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.box2{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.box3{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.box1_inner{
    width: 1400px;
    height: 700px;
    margin: auto;
    padding-top: 200px;
    box-sizing: border-box;
}
.box2_inner{
    width: 1400px;
    height: 700px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 100px;
}
.box3_inner{
    width: 1400px;
    height: 600px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.box1_img{
    width: 300px;
    height: 390px;
    border-radius: 0 0 250px 250px;
    border: #6667ab 3px solid;
    background-color: #fff3de;
}
.box2_img{
    width: 300px;
    height: 390px;
    border-radius:250px;
    border: #6667ab 3px solid;
    background-color: #fff3de;
}
.box3_img{
    width: 300px;
    height: 390px;
    border-radius: 250px 250px 0 0;
    border: #6667ab 3px solid;
    background-color: #fff3de;
}


.box1 ul{float: left;}
.box3 ul{float: left;}
.box1 ul:nth-child(1){
    margin-left: 24.5%;
    width: 310px;
    opacity: 1;
}
.box1 ul:nth-child(2){
    margin-top: -440px;
    margin-left: 54%;
    width: 310px;
    height: 600px;
}
.box2 ul:nth-child(1){
    transform: translate(-360px,0);
    margin-left: 50%;
    width: 310px;
}
.box2 ul:nth-child(2){
    margin-top: -450px;
    margin-left: 54%;
    width: 310px;
}.box3 ul:nth-child(1){
    transform: translate(-360px,0);
    margin-left: 50%;
    width: 310px;
}
.box3 ul:nth-child(2){
    margin-top: -480px;
    margin-left: 54%;
    width: 310px;
}

.main{opacity: 1;}
.box1 li{display: inline-block;}
.box1_txt_1{font-size: 25px; font-weight: bold; line-height: 35px;}
.box1_txt_2{font-size: 15px; float: right; transform: translate(0,10px);}
.box1 ul:nth-child(1) li:nth-child(1){margin-bottom: 10px;}
.hot{
    position: absolute;
    top: 215px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    background-color: #f89b57;
    left: 50%;
    margin-left: -345px;
    color: #fff;
    padding: 5px 13px 5px 13px;
    border-radius: 17.5px;
}
.new{
    position: absolute;
    top: 315px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    background-color: #6667ab;
    left: 50%;
    margin-left: 75px;
    color: #fff;
    padding: 5px 13px 5px 13px;
    border-radius: 17.5px;
}

.box2 li{display: inline-block;}
.box2_txt_1{font-size: 25px; font-weight: bold; line-height: 35px;}
.box2_txt_2{font-size: 15px; float: right; transform: translate(0,45px);}
.box2 ul:nth-child(2) li:nth-child(1){margin-bottom: 10px;}
.box2 ul:nth-child(1) li:nth-child(3){margin-top: 10px;}

.box3 li{display: inline-block;}
.box3_txt_1{font-size: 25px; font-weight: bold; line-height: 35px;}
.box3_txt_2{font-size: 15px; float: right; transform: translate(0,45px);}
.box3 ul:nth-child(1) li:nth-child(1){margin-bottom: 10px;}
.box3 ul:nth-child(2) li:nth-child(3){margin-top: 10px;}

/*
.box1:hover .box1_inner ul:nth-child(1) li:nth-child(1){transform: translate(0px,0px);}
.box1:hover .box1_inner ul:nth-child(1) li:nth-child(2){transform: translate(0px,0px);}
.box1:hover .box1_inner ul:nth-child(1) li:nth-child(3){transform: translate(0px,10px);}
.box1:hover .box1_inner ul:nth-child(2) li:nth-child(1){transform: translate(0px,0px);}
.box1:hover .box1_inner ul:nth-child(2) li:nth-child(2){transform: translate(0px,0px);}
.box1:hover .box1_inner ul:nth-child(2) li:nth-child(3){transform: translate(0px,10px);}
.box2:hover .box2_inner ul:nth-child(1) li:nth-child(1){transform: translate(0px,0px);}
.box2:hover .box2_inner ul:nth-child(1) li:nth-child(2){transform: translate(0px,0px);}
.box2:hover .box2_inner ul:nth-child(1) li:nth-child(3){transform: translate(0px,0px);}
.box2:hover .box2_inner ul:nth-child(2) li:nth-child(1){transform: translate(0px,0px);}
.box2:hover .box2_inner ul:nth-child(2) li:nth-child(2){transform: translate(0px,0px);}
.box2:hover .box2_inner ul:nth-child(2) li:nth-child(3){transform: translate(0px,45px);}
.box3:hover .box3_inner ul:nth-child(1) li:nth-child(1){transform: translate(0px,0px);}
.box3:hover .box3_inner ul:nth-child(1) li:nth-child(2){transform: translate(0px,0px);}
.box3:hover .box3_inner ul:nth-child(1) li:nth-child(3){transform: translate(0px,45px);}
.box3:hover .box3_inner ul:nth-child(2) li:nth-child(1){transform: translate(0px,0px);}
.box3:hover .box3_inner ul:nth-child(2) li:nth-child(2){transform: translate(0px,0px);}
.box3:hover .box3_inner ul:nth-child(2) li:nth-child(3){transform: translate(0px,0px);}
*/
.box1 .box1_inner ul:nth-child(1) li:nth-child(1){
    opacity: 1;
}
.box1 .box1_inner ul:nth-child(1) li:nth-child(2){
    opacity: 1;
}
.box1 .box1_inner ul:nth-child(1) li:nth-child(3){
    opacity: 1;
    margin-bottom: 10px;
}   
.box1 .box1_inner ul:nth-child(2) li:nth-child(1){
    opacity: 1;  margin-top: -20px;
}
.box1 .box1_inner ul:nth-child(2) li:nth-child(2){
    opacity: 1;  margin-top: -20px;
}
.box1 .box1_inner ul:nth-child(2) li:nth-child(3){
    margin-top: 10px; opacity: 1; clear: both;
}   
.box2 .box2_inner ul:nth-child(1) li:nth-child(1){
    opacity: 1;
}
.box2 .box2_inner ul:nth-child(1) li:nth-child(2){
    opacity: 1;
}
.box2 .box2_inner ul:nth-child(1) li:nth-child(3){
    opacity: 1;
}
.box2 .box2_inner ul:nth-child(2) li:nth-child(1){
    opacity: 1;
}
.box2 .box2_inner ul:nth-child(2) li:nth-child(2){
    opacity: 1;
}
.box2 .box2_inner ul:nth-child(2) li:nth-child(3){
    margin-top: 35px; opacity: 1;
}  
.box3 .box3_inner ul:nth-child(1) li:nth-child(1){
    opacity: 1;
}
.box3 .box3_inner ul:nth-child(1) li:nth-child(2){
    opacity: 1;
}
.box3 .box3_inner ul:nth-child(1) li:nth-child(3){
    margin-top: 35px; opacity: 1;
} 
.box3 .box3_inner ul:nth-child(2) li:nth-child(1){
    opacity: 1;
}
.box3 .box3_inner ul:nth-child(2) li:nth-child(2){
    opacity: 1; margin-top: 5px;
}
.box3 .box3_inner ul:nth-child(2) li:nth-child(3){
    opacity: 1;
} 

.popup{
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup> div{
    width: 1100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 100px;
}
.popup img{width: 700px; float: left;border-radius: 100px;}
.popup> div> div{
    float: left;
    padding: 100px 0px 50px 80px;
    box-sizing: border-box;
}
.popup h1{
    margin-bottom: 50px;
    color: #a965a9;
}
.popup p{line-height: 30px;}
.popup> div> div img{width: 50px; border-radius: 0;}
.popup div div ul:nth-child(3){position: absolute;top: 370px;}
.popup div div ul:nth-child(3) li{float: left; margin-right: 50px;}
.popup div div ul:nth-child(4){position: absolute;top: 370px;}
.popup div div ul:nth-child(4) li{float: left; margin-right: 50px; display: none;}
.popup div div ul:nth-child(4) li:nth-child(2){position: absolute; left: 100px;}
.popup> div> a img{position: absolute; top: 50px; right: 50px; width: 30px;}
